.banner {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center; /* 배너 안의 요소를 가운데 정렬 */
  width: 1500px; /* 배너의 너비를 1500px로 설정 */
  margin: 0 auto; /* 가운데 정렬을 위해 좌우 마진을 자동으로 설정 */
}

.search-container {
  display: flex; /* 검색창과 버튼을 가로로 배열하기 위해 Flexbox 사용 */
  justify-content: center; /* 가로 방향 가운데 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */
  margin-top: 20px; /* 검색창과 배너 사이에 간격을 주기 위해 */
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc; /* 테두리 스타일 지정 */
  border-radius: 5px; /* 테두리 둥글게 만들기 */
  width: 200px; /* 검색창 너비 지정 */
}

.search-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* 검색 버튼과 검색창 사이 간격 주기 */
}
