@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard-Regular';
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

.header {
  background-color: #f2e9d8;
  display: flex;
  padding: 26px 320px;
  justify-content: space-between;
  align-items: center;
}

.header-nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-nav-menu-download {
  display: flex;
  width: 140px;
  height: 50px;
  border-radius: 40px;
  color: white;
  font-weight: bolder;
  background-color: #d97652;
  justify-content: center;
  align-items: center;
  margin-left: 19px;
}

.main-content {
  background-color: #f2e9d8;
  display: flex;
  justify-content: space-between;
}

.main-content-item {
  display: flex;
  flex-direction: column;
  margin-left: 320px;
  margin-top: 200px;
}

.main-content-title {
  margin-bottom: 40px;
  font-size: 48px;
}

.main-content-download {
  margin-top: 40px;
  width: 140px;
  height: 50px;
  color: white;
  font-size: 16px;
  border-radius: 40px;
  background-color: #d97652;
  text-align: center;
  align-content: center;
}

.main-content-img {
  margin-right: 320px;
}

.best-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 320px;
}

.best-content-txt {
  margin-left: 110px;
}

.best-content-txt > h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.gallery-title {
  text-align: center;
  font-size: 48px;
  color: #d97652;
  margin-bottom: 40px;
}

.gallery > p {
  text-align: center;
  margin-bottom: 88px;
}

.gallery > p > span {
  color: #d97652;
}

.gallery-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 42px;
  margin-top: 88px;
  margin-left: 320px;
  margin-right: 320px;
}

.gallery-bottom > p {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 26px;
  font-size: 28px;
  font-weight: bolder;
}

.gallery-bottom-button-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.gallery-bottom-button {
  width: 140px;
  height: 50px;
  color: white;
  font-size: 16px;
  border-radius: 40px;
  background-color: #d97652;
  text-align: center;
  align-content: center;
}

hr {
  background-color: #c4c4c4;
  width: 1278px;
  margin-left: 320px;
}

.map {
  display: flex;
  flex-direction: column;
}

.map-txt {
  margin-top: 68px;
  margin-left: 320px;
  display: flex;
  flex-direction: column;
}

.map-txt > p {
  margin-top: 20px;
}

#map-api {
  width: 1278px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 285px;
}
.post-contaner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  height: 200px;
  background-color: #263140;
  color: white;
  border-radius: 30px;
  padding: 50px;
  margin: 0 auto;
  margin-top: 81px;
  z-index: 2;
}

.post-txt {
  font-size: 36px;
  font-weight: bolder;
}

.post-txt > p {
  font-size: 14px;
  margin-top: 18px;
  margin-left: 8px;
  margin-bottom: 18px;
}

.mail-container {
  display: flex;
  width: 530px;
  height: 60px;
  align-items: center;
  border: 1px solid white;
  border-radius: 60px;
  background-color: white;
  justify-content: space-between;
  padding-right: 6px;
}

.mail-icon {
  margin-left: 28px;
}

.mail-input {
  border: none;
  outline: none;
  margin: 10px;
  flex: 1;
  font-size: 16px;
}

.open-modal-btn {
  width: 135px;
  height: 50px;
  border: none;
  border-radius: 40px;
  background-color: #d97652;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.modal-button:hover {
  background-color: #45a049;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.modal-img-container {
  position: relative;
}
.Outer-Image {
  border-radius: 30px;
}
.inner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-left: 245px;
}

.modal-text {
  position: absolute;
  top: 196px;
  left: 194px;
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: #d97652;
  font-weight: bolder;
}

.modal-text > p {
  position: absolute;
  top:18px
  justify-content: center;
  font-size: 14px;
}

.close {
  position: absolute;
  top: 310px;
  left: 208.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d97652;
  border-radius: 40px;
  width: 183px;
  height: 50px;
  background-color: #d97652;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.image-wrapper {
  position: absolute;
  margin-top: 400px;
}

.bottom-img {
  position: relative;
  width: 100%;
  z-index: 0;
}

.scroll-top {
  position: absolute;
  left: 1800px;
  bottom: 20px;
}

.scroll-top:hover {
  background-image: url('scroll-top-btn-hover.png');
}

.footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.footer-logo {
  display: flex;
  width: 226px;
  height: 70px;
  margin-left: 320px;
  margin-bottom: 100px;
}

.sns {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-top: 20px;
  margin-right: 320px;
  gap: 20px;
}
